<div class="row">
    <div class="col-12">
        <h2 class="text-center">Productos</h2>
    </div>
    <div class="col-sm-12 col-lg-6">
        <form>
            <h3>Agregar Productos</h3>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div class="col-sm-12 col-lg-6">
        <h3>Listado de Productos</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><a class="btn-sm bg-warning mx-2 text-decoration-none text-dark" href="">editar</a><a class="btn-sm bg-danger mx-2 text-decoration-none text-dark"  href="">Eliminar</a><a href=""></a></td>
            </tr>
            
            </tbody>
        </table>
    </div>
</div>

